Repository SuperZooper3/reci, pull requests merged in 2025-07, with the labels that each got.

#160 feat: endpoint to get reviews by account id
  backend/src/controllers/reviewController.ts
  backend/src/models/reviewModel.ts
  backend/src/routes/reviewRoutes.ts
Labels: backend

#161 feat: add post endpoint and query to creatre follower relationship
  backend/sql/addAccountFollowing.sql
  backend/src/controllers/accountController.ts
  backend/src/models/accountModel.ts
  backend/src/routes/accountRoutes.ts
Labels: backend

#165 feat: update addAccountFollowing endpoint to use JWT for user identification and change route to /me/follow
  backend/src/controllers/accountController.ts
  backend/src/routes/accountRoutes.ts
Labels: backend

#164 add backend for getAccountsFollowers feature
  backend/src/controllers/accountController.ts
  backend/src/models/accountModel.ts
  backend/src/routes/accountRoutes.ts
Labels: backend

#168 feat: add JWT authentication check for account deletion endpoint
  backend/src/controllers/accountController.ts
  backend/src/routes/accountRoutes.ts
Labels: backend

#174 feat: add endpoint to remove following relationship
  backend/src/controllers/accountController.ts
  backend/src/models/accountModel.ts
  backend/src/routes/accountRoutes.ts
Labels: backend

#184 feat: added sidebar
  frontend/package-lock.json
  frontend/package.json
  frontend/public/reciLogo.png
  frontend/src/App.tsx
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/hooks/use-mobile.ts
Labels: frontend

#193 181 delete endpoint for reviews
  backend/sql/deleteReview.sql
  backend/src/controllers/accountController.ts
  backend/src/controllers/reviewController.ts
  backend/src/db.ts
  backend/src/models/reviewModel.ts
  backend/src/routes/reviewRoutes.ts
Labels: backend

#196 feat: add endpoint to delete saved recipes with JWT authentication
  backend/sql/deleteSavedRecipe.sql
  backend/src/controllers/recipeController.ts
  backend/src/models/recipeModel.ts
  backend/src/routes/recipeRoutes.ts
Labels: backend

#200 159 r15 automatically save reviewed recipes
  backend/sql/init.sql
  backend/sql/test-sample-out/saveReviewedRecipes.out
  backend/sql/triggerSaveReviewedRecipes.sql
  backend/src/db.ts
Labels: backend

#201 feat: add endpoint to retrieve follower count with JWT authentication
  backend/src/controllers/accountController.ts
  backend/src/models/accountModel.ts
  backend/src/routes/accountRoutes.ts
Labels: backend

#203 Add images to reviews
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/reviewCard.tsx
  frontend/src/components/ui/carousel.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/RecipePage.tsx
Labels: frontend

#212 Fix followers style
  frontend/src/components/followersModal.tsx
Labels: frontend

#204 feat: add endpoint to retrieve followee count
  backend/sql/getFolloweeCount.sql
  backend/src/controllers/accountController.ts
  backend/src/models/accountModel.ts
  backend/src/routes/accountRoutes.ts
Labels: backend

#223 Dominik/performance-benchmark-queries
  .gitignore
  backend/src/models/accountModel.ts
  backend/src/models/feedModel.ts
  backend/src/models/recipeModel.ts
  backend/src/models/reviewModel.ts
  backend/src/utils/query.ts
  backend/src/utils/saveQueryResult.ts
Labels: backend, writing/reports

#237 feat: update recipe title
  backend/sql/updateRecipe.sql
  backend/src/controllers/recipeController.ts
  backend/src/models/recipeModel.ts
  backend/src/routes/recipeRoutes.ts
Labels: backend

#246 231 merge settings page with user profile page
  backend/sql/getFollowStatus.sql
  backend/src/controllers/accountController.ts
  backend/src/models/accountModel.ts
  backend/src/routes/accountRoutes.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/deleteAccountModal.tsx
  frontend/src/components/followersModal.tsx
  frontend/src/components/followingModal.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/pages/UserPage.tsx
  frontend/src/services/accountService.ts
Labels: frontend

#254 refactor: update indexes for Review and SavedRecipe tables
  backend/sql/init.sql
Labels: backend
